<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
<<<<<<< HEAD
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

<!-- header -->

	<header>
	  <img src="" alt="">
	</header>

<!-- header -->
=======

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
<!-- header -->
<header>
  <img src="" alt="">
</header>

>>>>>>> bf8c690587b21a004e44f35b8a2e8c7a629b4bec

    <%= yield %>

<!-- footer -->
<<<<<<< HEAD

<footer>
	<p>All right reserved ©mayu masuda</p>
</footer>

<!-- footer -->

=======
<footer>
	<p>All right reserved @mayu masuda</p>
</footer>

>>>>>>> bf8c690587b21a004e44f35b8a2e8c7a629b4bec
  </body>
</html>
